---
import ArrowUpRight from "@/icons/ArrowUpRight.astro";
import LaReservaIILogo from "../common/LaReservaIILogo.astro";
import LaReservaLogo from "../common/LaReservaLogo.astro";
import PalmaRealLogo from "../common/PalmaRealLogo.astro";
import Badge from "../common/Badge.astro";
import BadgeProject from "../common/BadgeProject.astro";

type Project = {
  href: string;
  img: string;
  title: string;
  logo: any;
  from: string;
  badge: "sold" | "forsale" | "launch";
};

const PROJECTS: Project[] = [
  {
    href: "/la-reserva",
    img: "/pbii/la-reserva.webp",
    title: "La reserva",
    logo: LaReservaLogo,
    from: "200",
    badge: "sold",
  },
  {
    href: "/la-reserva-ii",
    img: "/pbii/la-reserva-ii.webp",
    title: "La reserva II",
    logo: LaReservaIILogo,
    from: "210",
    badge: "forsale",
  },
  {
    href: "/palma-real",
    img: "/pbii/palma-real.webp",
    title: "Palma Real",
    logo: PalmaRealLogo,
    from: "250",
    badge: "sold",
  },
];
---

<section class="mx-auto max-w-[900px] px-6 pt-20">
  <h2 class="mb-8 text-center text-2xl font-semibold text-primary">
    Nuestros proyectos
  </h2>
  <div class="grid gap-x-6 gap-y-8 md:grid-cols-3">
    {
      PROJECTS.map(({ href, img, title, logo: Logo, from, badge }) => (
        <a href={href} title={`Ir a la página de ${title}`}>
          <article class="group relative overflow-hidden transition hover:scale-y-105">
            <div class="relative flex flex-col items-center overflow-hidden">
              <img
                class="h-[450px] w-full rounded-md object-cover object-left transition-all duration-[2s] group-hover:object-right group-hover:brightness-110"
                src={img}
                alt={title}
                width="268"
                height="450"
              />
              <div class="absolute left-1/2 top-3 -translate-x-1/2">
                <BadgeProject variant={badge} />
              </div>
              <span class="absolute bottom-3 rounded-full bg-white/90 px-4 py-2 text-sm font-medium text-primary transition-all group-hover:bottom-0 group-hover:scale-90 group-hover:opacity-0">
                Lotes desde {from} m²
              </span>
              <Badge
                icon={ArrowUpRight}
                class="absolute bottom-0 scale-90 opacity-0 transition-all delay-0 group-hover:bottom-3 group-hover:scale-100 group-hover:opacity-100 group-hover:delay-300"
              >
                Visitar
              </Badge>
            </div>
            <div class="mt-1 w-full rounded-md bg-primary p-4">
              <Logo class="mx-auto h-20 w-auto max-w-36 text-white" />
            </div>
          </article>
        </a>
      ))
    }
  </div>
</section>
