---
import ArrowUpRight from "@/icons/ArrowUpRight.astro";
import LaReservaIILogo from "../common/LaReservaIILogo.astro";
import LaReservaLogo from "../common/LaReservaLogo.astro";
import PalmaRealLogo from "../common/PalmaRealLogo.astro";
import Badge from "../common/Badge.astro";

type Project = {
  href: string;
  img: string;
  title: string;
  logo: any;
};

const PROJECTS: Project[] = [
  {
    href: "/la-reserva",
    img: "/la-reserva/servicios.webp",
    title: "La reserva",
    logo: LaReservaLogo,
  },
  {
    href: "/la-reserva-ii",
    img: "/la-reserva-ii/parque.webp",
    title: "La reserva II",
    logo: LaReservaIILogo,
  },
  {
    href: "/palma-real",
    img: "/palma-real/casa.webp",
    title: "Palma Real",
    logo: PalmaRealLogo,
  },
];
---

<section class="mx-auto max-w-[900px] px-6 pt-20">
  <h2 class="mb-8 text-center text-2xl font-semibold text-primary">
    Nuestros proyectos
  </h2>
  <div class="grid gap-x-6 gap-y-8 md:grid-cols-3">
    {
      PROJECTS.map(({ href, img, title, logo: Logo }) => (
        <a href={href} title={title}>
          <article class="group relative overflow-hidden rounded-md transition hover:scale-y-105">
            <div class="relative overflow-hidden">
              <img
                class="h-[450px] object-cover object-left transition-all duration-[2s] group-hover:object-right group-hover:brightness-110"
                src={img}
                alt={title}
              />
              <Badge
                icon={ArrowUpRight}
                class="absolute bottom-2.5 left-1/2 -translate-x-1/2 transition-all delay-0 group-hover:opacity-100 group-hover:delay-200 md:-bottom-2.5 md:opacity-0 md:group-hover:bottom-2.5"
              >
                Visitar
              </Badge>
            </div>
            <div class="bg-primary p-4 transition-colors group-hover:bg-primary-dark">
              <Logo class="mx-auto h-20 w-auto max-w-36 text-white" />
            </div>
          </article>
        </a>
      ))
    }
  </div>
</section>
