---
type Card = {
  img: string;
  title: string;
  year: string;
};

const CARDS: Card[] = [
  {
    img: "logo-automotriz.webp",
    title: "Automotriz",
    year: "2007",
  },
  {
    img: "logo-inmobiliaria.webp",
    title: "Inmobiliaria",
    year: "2017",
  },

  {
    img: "logo-agricola.webp",
    title: "Agrícola",
    year: "1960",
  },
  {
    img: "logo-combustibles.webp",
    title: "Combustibles y Lubricantes",
    year: "1998",
  },
];

const sinceYear = new Date().getFullYear() - 1960;
---

<section class="mx-auto mt-24 max-w-[800px] px-6">
  <h2 class="mb-8 text-center text-2xl font-semibold text-home">
    Presentes desde hace {sinceYear} años
  </h2>
  <div class="grid md:grid-cols-2">
    {
      CARDS.map(({ img, title, year }) => (
        <article class="relative flex flex-col items-center overflow-hidden rounded-md py-4">
          <div class="flex size-48 items-center rounded-md">
            <img
              src={`/pbii/${img}`}
              alt={`Logo de ${title}`}
              class="h-auto w-full object-contain transition"
            />
          </div>
          <h3 class="mb-2 text-center text-lg font-semibold text-home">
            {title}
          </h3>
          <span class="text-sm text-slate-800">Desde {year}</span>
        </article>
      ))
    }
  </div>
</section>
