---
import Footer from "../components/common/Footer.astro";
import Header from "../components/common/Header.astro";
import Form from "@/components/common/Form.astro";
import Contact from "@/components/common/Contact.astro";
import "@fontsource/poppins/300.css";
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/500.css";
import "@fontsource/poppins/600.css";
import "@fontsource/poppins/700.css";
import "@fontsource/poppins/800.css";
import { ClientRouter } from "astro:transitions";

interface Props {
  title: string;
  description: string;
  keywords: string;
  opDescription: string;
  opImage: string;
}

const { title, description, keywords, opDescription, opImage } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <meta name="keywords" content={keywords} />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content={Astro.url} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={opDescription} />
    <meta property="og:image" content={opImage} />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="pbinversionesinmobiliarias.com" />
    <meta property="twitter:url" content={Astro.url} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={opDescription} />
    <meta name="twitter:image" content={opImage} />

    <ClientRouter />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Contact />
    <Form />
    <Footer />
  </body>
</html>

<style is:global>
  :root {
    --primary: #154142;
    --primary-dark: #0b3132;
    --primary-rgba: 21, 65, 66;
    --secondary: #b6a27a;
    --secondary-dark: #a38c5d;
  }

  html {
    font-family: "Poppins", system-ui, sans-serif;
    background-color: white;
    scroll-behavior: smooth;
  }

  body {
    text-wrap: pretty;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #b6a27a;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #a38c5d;
  }

  ::selection {
    background-color: #154142e0;
    color: white;
  }

  p,
  span {
    line-height: 1.7;
    letter-spacing: 0.2px;
    font-weight: 300;
  }

  .input {
    padding: 12px 16px;
    border: 1px solid var(--primary);
    outline: none;
    transition: box-shadow 300ms ease;
    &:focus {
      box-shadow: 0 10px 15px -3px rgba(var(--primary-rgba), 0.1);
    }
  }

  .button-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    background-color: var(--primary);
    padding: 12px 24px;
    color: white;
    transition: all 0.3s ease;
    &:hover {
      background-color: var(--primary-dark);
      transform: scale(1.05);
    }
  }

  .button-secondary {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    background-color: var(--secondary);
    padding: 12px 24px;
    color: white;
    transition: all 0.3s ease;
    &:hover {
      background-color: var(--secondary-dark);
      transform: scale(1.05);
    }
  }

  @keyframes blur {
    to {
      background: rgba(0, 0, 0, 0.3);
      backdrop-filter: blur(10px);
    }
  }

  @keyframes pulse {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }

  @keyframes stroke {
    0% {
      stroke-dasharray: 0, 100;
    }
    50% {
      stroke-dasharray: 50, 50;
    }
    100% {
      stroke-dasharray: 100, 0;
    }
  }

  @media (max-width: 768px) {
    .button-primary,
    .button-secondary {
      padding: 16px 32px;
    }
  }
</style>
